.search-bar input{
    padding:0.5rem;
    width:300px;;
}

.search-bar button{
    padding:0.5rem 1rem;
    margin-left:10px;
}

.movie-list{
    margin-top:2rem;
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content: center;
gap:1rem;
}

.movie-card{
    width:180px;
    border:1px solid #ccc;
    border-radius: 8px;
    padding:1rem;
    background: #f9f9f9;
}
.movie-card img{
    width:100%;
    height:auto;
    object-fit: cover;
    margin-bottom: 0.5rem;
}